body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #adabab;
}

.App-header {
	text-align: center;
	padding: 10px;
	color: blueviolet;
	font-size: 26px;
}

.Container {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
}

.TwoBox {
	display: flex;
	gap: 20px;
}
