body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #adabab;
}

.App-header {
	text-align: center;
	padding: 10px;
	color: blueviolet;
	font-size: 26px;
	margin-bottom: 20px;
	border-bottom: 1px solid rgb(74, 74, 74);
	border-radius: 0 0 15px 15px;
	background-color: beige;
}

.Calculator {
	margin-left: calc(50% - 200px);
	width: 400px;
	height: 600px;
	border: 1px solid rgb(74, 74, 74);
	border-radius: 15px;
	background-color: azure;
}

.Container {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	justify-content: center;
	align-items: center;
}

.Display {
	display: flex;
	flex-direction: row-reverse;
	margin: 10px 0 20px 0;
	padding: 5px 20px;
	font-size: 25px;
	font-weight: 700;
	width: 300px;
	background-color: beige;
	border: 1px solid rgb(74, 74, 74);
	border-radius: 30px;
}

.TwoBox {
	display: flex;
	gap: 20px;
}
